<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1><u>Welcome To MAHESH NEWS Portal</u></h1>
   <img src="{% static 'images/news.jpg' %}" alt="upload Soon">
    <ul>
      <li><a href="movies">Movies Information</a></li>
      <li><a href="sports">Sports Information</a></li>
      <li><a href="politics">Politics Information</a></li>
    </ul>
</body>
</html>